

.projContent {
    margin: 0 10px;

    .center {
        position: relative;
        display: flex;

        .button {
            width: 50px;
            height: 100px;
            vertical-align: middle;
            cursor: pointer;
        }

        .imgBorder {
            margin: 0px auto;
            border: 1px solid #A0A0A0;
            float: left;
            width: 220px;
            height: 220px;  //change these to suit
            position: relative;
            text-align: center;
            display: table;
            border-radius: 50%;
            overflow: hidden;

            .image {
                max-width: 100%;
                height: 100%;
                overflow: hidden;
            }
        }
    }
}

@media screen and (min-width: 480px) {
    .projContent {
        margin: 0 60px;
    }
}

@media screen and (min-width: 760px) {
    .projContent {
        margin: 0 120px;
    }
}
